html
  head
    title!= title
    script.
      var brewski = brewski || {};
      brewski.config = brewski.config || {};
      brewski.config.apiUrl = '#{apiUrl}'
  body
    block content
        #content
    script(src='/bower/react/react.min.js')
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js')
    script(src='/jsx/helloworld.js')