html
  head
    title!= title
  body
    block content
        #example
    script(src='/bower/react/react.min.js')
    script(src='/bower/jquery/dist/jquery.min.js')
    script(src='/jsx/helloworld.js')